In [1]:
import sqlite3
import pandas as pd

In [2]:
requests_db = 'requests.db'
table_name = 'comments'

In [3]:
with sqlite3.connect(requests_db) as conn:
    df=pd.read_sql(f'''
    SELECT *
    FROM {table_name}
    ''', conn)

In [4]:
df

,id,author,body,permalink,target_username,target_permalink,done_scraping,done_training,done_responding
0,h30wn32,HotStickyBalls,what would u/voliver016 say?,/r/AskReddit/comments/o7jeqe/you_die_and_get_s...,voliver016,/r/AskReddit/comments/o7jeqe/you_die_and_get_s...,1,1,1
1,h30yrsg,HotStickyBalls,what would u/poem_for_your_sprog say?,/r/AskReddit/comments/o7mdyf/males_of_reddit_w...,poem_for_your_sprog,/r/AskReddit/comments/o7mdyf/males_of_reddit_w...,1,1,1

In [5]:
df.dtypes

id                  object
author              object
body                object
permalink           object
target_username     object
target_permalink    object
done_scraping        int64
done_training        int64
done_responding      int64
dtype: object

with sqlite3.connect(requests_db) as conn:
    conn.execute(f'''
    UPDATE {table_name}
    SET done_scraping = 0
    WHERE target_username = 'voliver016'
    ''')
    conn.commit()